.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backgroundImg {
  position: fixed;
  inset: 0;
  object-fit: cover;
  z-index: -2;
}
.shadow {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: -1;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .header {
    padding: 0 2rem;
  }
}
@media (min-width: 1250px) {
  .header {
    padding: 0 10rem;
  }
}
.logo {
  position: relative;
  width: 5.5625rem;
  height: 1.5rem;
}
@media (min-width: 960px) {
  .logo {
    width: 9.25rem;
    height: 2.5rem;
  }
}
.logoImg {
  object-fit: contain;
}

.headerRight {
  display: flex;
  align-items: center;
}
.lang {
  padding: 0.25rem 0.5rem;
  background: #000;
  border: 1px solid #606060;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 0 0.75rem 0 0;
}
@media (min-width: 768px) {
  .lang {
    margin-right: 2rem;
    padding: 7px 10px;
  }
}
.langSelect {
  font-size: 0.875rem;
  background: transparent;
}
.globalIcon {
  width: 0.9rem;
  height: 0.9rem;
}

.loginBtn {
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 3px;
  background: #e50914;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.7;
}
.loginBtn:hover {
  background: #c11119;
}

.box {
  margin: auto;
  max-width: calc(100% - 3rem);
}
@media (min-width: 600px) {
  .box {
    max-width: calc(100% - 4rem);
  }
}
.bottomWrapper {
  text-align: center;
  max-width: 61.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.textL {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.textM {
  margin: 1rem 0;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}
.textS {
  margin: 0 auto 30px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
@media (min-width: 500px) {
  .br {
    display: none;
  }
}
@media (min-width: 960px) {
  .textL {
    font-size: 3rem;
    font-weight: 900;
  }
  .textM {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .textS {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.inputWrapper {
  margin-bottom: 1rem;
}
.inputLabel {
  position: relative;
}
.textField {
  width: 100%;
  padding: 1.5rem 1rem 0.5rem;
  border-radius: 4px;
  background: rgba(22, 22, 22, 0.7);
  border: 1px solid rgba(128, 128, 128, 0.7);
  line-height: 1.5rem;
  outline: none;
}
.textField:focus {
  box-shadow: 0 0 0 2px black, 0 0 0 4px #fff;
}
.placeholderLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: #b7b7b7;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  pointer-events: none;
}
.textField:not(:placeholder-shown) ~ .placeholderLabel,
.textField:focus ~ .placeholderLabel {
  top: 0.25rem;
  transform: translateY(0);
  font-size: 13px;
}
.errorInput {
  border: 1px solid rgb(235, 57, 66);
}
.errorMsg {
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 0.25rem;
  width: 100%;
  color: rgb(235, 57, 66);
}

.signUpBtn {
  width: fit-content;
  min-height: 3rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background: #e50914;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.signUpBtn:hover {
  background: #c11119;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}
.signUpIcon {
  width: 20px;
  height: 20px;
}
@media (min-width: 600px) {
  .form {
    max-width: 36.625rem;
    margin: 0 auto;
    flex-direction: row;
    align-items: start;
  }
  .inputWrapper {
    margin-right: 0.5rem;
    flex: 1 1 auto;
  }
  .signUpBtn {
    flex: 0 0 auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
  }
}
