.container {
  position: relative;
}
@media (min-width: 768px) {
  .container {
    display: none;
  }
}
.menuIcon {
  position: relative;
  display: flex;
  align-items: center;
}
.title {
  font-size: 1vw;
}
.links {
  position: absolute;
  top: 40px;
  left: -100px;
  width: 260px;
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.4s;
}
.container:hover .links {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.menuItem {
  display: block;
  text-align: center;
  padding: 14px 0;
  color: var(--light-c);
  background: rgba(0, 0, 0, 0.9);
  transition: background 0.4s;
}
.links:first-of-type {
  border-top: 2px solid #fff;
}
.menuItem:hover {
  background: rgba(0, 0, 0, 0.8);
}
