.container {
  flex: 0 0 calc(92% / 3);
  padding: 0 2px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.imgWrapper {
  position: relative;
  aspect-ratio: 16/9;
}
@media (min-width: 768px) {
  .container {
    flex: 0 0 calc(92% / 4);
  }
}
@media (min-width: 1024px) {
  .container {
    flex: 0 0 calc(92% / 5);
  }
}
@media (min-width: 1280px) {
  .container {
    flex: 0 0 calc(92% / 6);
  }
}
.img {
  object-fit: cover;
}
