.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.container {
  max-width: 850px;
  height: 100%;
  margin: 2rem 1% 0;
  background: #181818;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    margin: 2rem auto 0;
  }
}
.imgWrapper {
  position: relative;
  aspect-ratio: 16/9;
}
.closeIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
  width: 36px;
  height: 36px;
  background: #000;
  border-radius: 50%;
  padding: 8px;
}
.img {
  object-fit: cover;
}
.backgroundShadow {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #181818, transparent 50%);
}
.imgFeatures {
  position: absolute;
  bottom: 13%;
  left: 3rem;
  width: 40%;
}
.title {
  margin-bottom: 2vw;
  font-size: 1.8vw;
}
.buttons {
  display: flex;
  align-items: center;
  column-gap: 0.8vw;
}
.playBtn {
  max-height: 42px;
  min-height: 32px;
  padding: 0.8vw 2vw;
  border-radius: 4px;
  background: rgba(256, 256, 256, 1);
  color: #000;
  display: flex;
  align-items: center;
  column-gap: 0.3vw;
}
.playBtn:hover {
  background: rgba(256, 256, 256, 0.8);
}
.playIcon {
  width: 2vw;
  height: 2vw;
}
.playText {
  font-size: 1.6vw;
}

.detail {
  display: flex;
  padding: 0 3rem;
  column-gap: 2rem;
}

.detailLeft {
  flex: 0 0 60%;
}
.metaData {
  margin: 0.8rem 0;
  font-size: 16px;
}
.metaData > * {
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .metaData {
    display: flex;
    align-items: center;
  }
}
.match {
  color: #46d369;
}
.quality {
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 3px;
  padding: 0 6px;
  font-size: 11px;
  line-height: 14px;
}
.summary {
  font-size: 14px;
}

.detailRight {
  flex: 1 1 auto;
}
.detailRight > * {
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.category {
  color: #777;
}
